
  <div class="container">
    <section class="register">
    <div></div>
      <h1>Account Overview</h1>
      <div class="welcome">
      	<div class="welcomeName"><h2 > Welcome:&nbsp; </h2></div><div class="welcomeName" location="welcomeName"></div>
      </div>
      <div class="separatoe"></div>
      <p class="welcomeMessage">Now you can manage your account online, you can see your bills, make payments, and edit your profile too.</p>
      

		  <div class="reg_section personal_info">
		        <p class="tbl_title">
							The Latest Three Bills
						</p>
		  
			<table class="condensed-table">
				<thead>
					<tr>
						<th width="40%">
							Bill date
						</th>
						<th width="40%">
							Amount <span style="font-size: 11px !important">(AED)</span>
						</th>
						<th width="20%">
							Preview
						</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td>								
								<div location="date_0"></div>
							</td>
							<td>
					            <div location="amount_0"></div>
							</td>							
							<td>
								<div location="view_0"></div>
							</td>
						</tr>
						<tr>
							<td>								
								<div location="date_1"></div>
							</td>
							<td>
					            <div location="amount_1"></div>
							</td>							
							<td>	
								<div location="view_1"></div>
							</td>
						</tr>
						<tr>
							<td>								
								<div location="date_2"></div>
							</td>
							<td>
					            <div location="amount_2"></div>
							</td>							
							<td>
								<div location="view_2"></div>
							</td>
						</tr>
				</tbody>
			</table>
			<div>
				<div>
					<h4 >
						<div style="float:left">Amount Due:&nbsp;&nbsp;</div><div style="float:left" location="totalAmount"></div>&nbsp;&nbsp; AED
					</h4>
				</div>
			</div>
			<div class="payment-div-btn">
				<div class="payButton" location="payButton"></div><div class="payamt" location="payamt"></div><div class="paycurn">AED</div>
			</div>
			
			<div location="lastPayment" style="padding-bottom: 10px;padding-top: 10px;"></div>
			<div class="pay-update-note">
					<p>Your account balance will be updated within 24 hours</p>
			</div>
			<div class="payment-div">
				<div class="pay-note">
					<div location="feeNote"></div>
					<div location="fullAmountNote"></div>
				</div>
			</div>

			
		  </div>
		 
    </section>
  </div>
 