<style>

/* Page */
.v-customlayout {
  background: #FFFFFF;
  font-family:"Trebuchet MS",tahoma;
  width:550px;
  height: 900px;
}

.container {
  width: 500px;
  padding-top:50px;
  margin-left: auto;
  margin-right: auto;
}

/* Form */
.register {
	position: relative;
	margin-top: 20px;
	padding: 20px 20px 20px 20px;
	background: #fff;
	border-radius: 32px;
	box-shadow: 0 0 55px #777777, 0 1px 2px rgba(0, 0, 0, 0.3);
	width: 500px;
}

.register h1 {
	margin: -20px -20px 0;
	line-height: 40px;
	font-size: 26px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	border-bottom: 1px solid #EDEDED;
	background-color: rgb(35, 35, 105);
	border-radius: 32px 32px 0 0;
}

.welcome h2{
	font-family: Helvetica, Arial, "Lucida Grande", Geneva, Tahoma, Verdana, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #44698b;
	letter-spacing: -0.02em;
	text-shadow: #fff 0 -1px 1px;
	float:left;
	margin-top: 0;
}

.welcome .welcomeName{
	float:left;
	margin-top: 0;
	height: 30px;
}

.register .welcome{
	padding-top: 30px;
	
}

.register .welcomeMessage{
	font-size: 17px;
}


.register input[type=text], .register input[type=password] ,.register select,.register textarea {
  width: 278px;
}
.register .submit{
	padding-top: 10px;
}

.condensed-table{
  font-size: 15px;
}

.viewButton{
      background-image: none !important;
}
 
.viewButton span {
	 background-image: none !important;
 }
 
.register .separatoe{
	clear:both;
}

.condensed-table th{
	font-size: 20px;
	color: rgb(167, 65, 78);
}

.table-td-font-size{
	font-size: 20px;
}

</style>
  <div class="container">
    <section class="register">
    <div></div>
      <h1>Account Overview</h1>
      <div class="welcome">
      	<div class="welcomeName"><h2 > Welcome:&nbsp; </h2></div><div class="welcomeName" location="welcomeName"></div>
      </div>
      <div class="separatoe"></div>
      <p class="welcomeMessage">Now you can manage your account online, where you can manage your payments</p>
      <div class="separator">&nbsp;</div>
		  
		  <div class="reg_section personal_info">
			<table class="condensed-table">
				<thead>
					<tr>
						<th width="40%">
							Bill date
						</th>
						<th width="40%">
							Amount <span style="font-size: 11px !important">(AED)</span>
						</th>
						<th width="20%">
							Preview
						</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td>								
								<div location="date_0"></div>
							</td>
							<td>
					            <div location="amount_0"></div>
							</td>							
							<td>
								<div location="view_0"></div>
							</td>
						</tr>
						<tr>
							<td>								
								<div location="date_1"></div>
							</td>
							<td>
					            <div location="amount_1"></div>
							</td>							
							<td>	
								<div location="view_1"></div>
							</td>
						</tr>
						<tr>
							<td>								
								<div location="date_2"></div>
							</td>
							<td>
					            <div location="amount_2"></div>
							</td>							
							<td>
								<div location="view_2"></div>
							</td>
						</tr>
				</tbody>
			</table>
			<div>
				<div class="separator">&nbsp;</div>
				<div>
					<h4 >
						<div style="float:left">Ammount Due date:&nbsp;&nbsp;</div><div style="float:left" location="totalAmount"></div>&nbsp;&nbsp; AED
					</h4>
				</div>
				<div><p>Please note that 10 AED will be added to your bill as online service fees</p></div>
			</div>
			<div location="payButton"></div>
		  </div>
		 
    </section>
  </div>
 