
  <div class="container">
    <section class="register">
    <div></div>
      <h1>Account Overview</h1>
      <div class="welcome">
      	<div class="welcomeName"><h2 > Welcome:&nbsp; </h2></div><div class="welcomeName" location="welcomeName"></div>
      </div>
      <div class="separatoe"></div>
      <p class="welcomeMessage">Now you can manage your account online, where you can manage your payments</p>
      <div class="separator">&nbsp;</div>
		  
		  <div class="reg_section personal_info">
			<table class="condensed-table">
				<thead>
					<tr>
						<th width="40%">
							Bill date
						</th>
						<th width="40%">
							Amount <span style="font-size: 11px !important">(AED)</span>
						</th>
						<th width="20%">
							Preview
						</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td>								
								<div location="date_0"></div>
							</td>
							<td>
					            <div location="amount_0"></div>
							</td>							
							<td>
								<div location="view_0"></div>
							</td>
						</tr>
						<tr>
							<td>								
								<div location="date_1"></div>
							</td>
							<td>
					            <div location="amount_1"></div>
							</td>							
							<td>	
								<div location="view_1"></div>
							</td>
						</tr>
						<tr>
							<td>								
								<div location="date_2"></div>
							</td>
							<td>
					            <div location="amount_2"></div>
							</td>							
							<td>
								<div location="view_2"></div>
							</td>
						</tr>
				</tbody>
			</table>
			<div>
				<div class="separator">&nbsp;</div>
				<div>
					<h4 >
						<div style="float:left">Ammount Due:&nbsp;&nbsp;</div><div style="float:left" location="totalAmount"></div>&nbsp;&nbsp; AED
					</h4>
				</div>
				<div><p class="pay-note">Please note that 10 AED will be added to your bill as an online service fee</p></div>
			</div>
			<div class="payment-div">
				<div class="nbad-logo"><img src="/dmg-rg-client/VAADIN/themes/dmg-theme/img/nbad-logo.png" width="140px" height="40px" /><div class="nbad-ld-note"><span>Your payment will be processed through NBAD </span></div></div>
				<div class="separator">&nbsp;</div>
				<div location="payButton"></div>
			</div>
			
		  </div>
		 
    </section>
  </div>
 