  <div class="container">
    <section class="register">
      <h1>Change Password</h1>
		  <div class="reg_section personal_info" >
				<h2 style="float:left">City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h2><div class="lable" location="city"></div>
				<div class="separator"></div>
				<h2 style="float:left">Building No:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h2><div class="lable" location="buildingNumber"></div>
				<div class="separator"></div>
				<h2 style="float:left">Appartment No:&nbsp;</h2><div class="lable" location="appartmentNumber"></div>
				<div class="separator"></div>
				<h2 style="float:left">Account Id:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h2><div class="lable" location="accountId"></div>
		  </div>
		  <div class="reg_section personal_info" >
				<div class="field" location="fullName"></div>
				<div class="field" location="oldPassword"></div>
				<div class="field" location="newPassword"></div>
				<div class="field" location="confirmPassword"></div>
		  </div>
		  <div class="submit" location="saveButtun"></div>
    </section>
  </div>
