  <div class="container">
    <section class="register">
      <h1>Edit User Profile</h1>
		  <div class="reg_section personal_info" >
				<h2 style="float:left;padding-right: 81px;">Region:</h2><div class="lable" location="city"></div>
				<div class="separator"></div>
				<h2 style="float:left;padding-right: 47px;">Building No:</h2><div class="lable" location="buildingNumber"></div>
				<div class="separator"></div>
				<h2 style="float:left;padding-right: 28px;">Apartment No:</h2><div class="lable" location="appartmentNumber"></div>
				<div class="separator"></div>
				<h2 style="float:left;padding-right: 36px;">Contract No.:</h2><div class="lable" location="accountId"></div>
		  </div>
		  <div class="reg_section personal_info" >
				<div class="field" location="fullName"></div>
				<div class="field-note">
				  <span>please insert your name as in passport</span>
				</div>
				<div class="field" location="userEmail"></div>
				<div class="field-note">
				  <span>Example: email@domain.com</span>
				</div>
				<div class="field mobilePrefix" location="mobilePrefix"></div>
				<div class="field mobile" location="mobile"></div>
				<div class="separator"></div>
				<div class="field-note">
				  <span>Example 050 1234567,  you will receive sms on this mobile number</span>
				</div>
				<div class="field mobilePrefix" location="phonePrefix"></div>
				<div class="field mobile" location="phone"></div>
				<div class="separator"></div>
				<div class="field-note">
				  <span>Example 04 1234567</span>
				</div>
				<div class="separator"></div>
				<div class="field" location="poBox"></div>
				<div class="field" location="poBoxCity"></div>
		  </div>
		  <div class="submit" location="registerButton"></div>
    </section>
  </div>
