  <div class="container">
    <section class="register">
      <h1>Forgot Password</h1>
		  <div class="reg_section personal_info" >	
		  		<div class="field" location="userCity"></div>			
				<div class="field-help"><div class="field" location="accountNumber"></div><div class="help"><a><img src="/dmg-rg-client/VAADIN/themes/dmg-theme/img/help-icn.jpg" width="25px" height="30px" /><span><img src="/dmg-rg-client/VAADIN/themes/dmg-theme/img/hints/accountNo.png" alt="Little Egret"></span></a></div></div>				
		  </div>
		  <div class="submit" location="resetPassword"></div>	   		 
    </section>
  

  </div>
