  <div class="container">
    <section class="register">
      <h1>Login</h1>
		  <div class="reg_section personal_info" >
				<div class="field" location="userCity"></div>
				<div class="field-help"><div class="field" location="userAccount"></div><div class="help"><a><img src="/dmg-rg-client/VAADIN/themes/dmg-theme/img/help-icn.jpg" width="25px" height="30px" /><span><img src="/dmg-rg-client/VAADIN/themes/dmg-theme/img/hints/accountNo.png" alt="Little Egret"></span></a></div></div>
				<div class="field" location="userPassword"></div>
		  </div>
		  <div class="submit" location="loginButton"></div>
		   <div class="link" location="forgotPassword">
		   
		   </div>
    </section>
    <p> If you forget your password Please Call 800-RGAS</p>
  </div>
  <div class="container">
    <section class="register">
      <h1>New User? Please Register</h1>
		  <div class="reg_section personal_info">
		  		<div class="field-help"><div class="field" location="accountId"></div><div class="help"><a><img src="/dmg-rg-client/VAADIN/themes/dmg-theme/img/help-icn.jpg" width="25px" height="30px" /><span><img src="/dmg-rg-client/VAADIN/themes/dmg-theme/img/hints/accountNo.png" alt="Little Egret"></span></a></div></div>
		  		<div class="field-help"><div class="field" location="city"></div></div>
		  		<div class="field-help"><div class="field" location="buildingNo"></div><div class="help"><a><img src="/dmg-rg-client/VAADIN/themes/dmg-theme/img/help-icn.jpg" width="25px" height="30px" /><span><img src="/dmg-rg-client/VAADIN/themes/dmg-theme/img/hints/buildNo.png" alt="Little Egret"></span></a></div></div>
		  		<div class="field-help"><div class="field" location="apartmentNo"></div><div class="help"><a><img src="/dmg-rg-client/VAADIN/themes/dmg-theme/img/help-icn.jpg" width="25px" height="30px" /><span><img src="/dmg-rg-client/VAADIN/themes/dmg-theme/img/hints/apartmentNo.png" alt="Little Egret"></span></a></div></div>
		  </div>
		  <div class="submit" location="registerButton"></div>
    </section>
  </div>
