<style>

/* Page */
.v-customlayout {
  background: #FFFFFF;
  font-family:"Trebuchet MS",tahoma;
  width:550px;
  height: 557px;
}

.container {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

/* Form */
.register {
  position: relative;
  margin-top:20px;
  padding: 20px 20px 20px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 200px rgba(218, 191, 236, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.register h1 {
  margin: -20px -20px 0;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color:#3024BE;
  text-align: center;
  border-bottom:1px solid #EDEDED;
}

.register input[type=text], .register input[type=password] ,.register select,.register textarea {
  width: 278px;
}
.register .submit{
	padding-top: 10px;
}



</style>
  <div class="container">
    <section class="register">
      <h1>Login to your Account</h1>
		  <div class="reg_section personal_info" >
				<div location="userEmail"></div>
				<div location="userPassword"></div>
		  </div>
		  <div class="submit" location="loginButton"></div>
    </section>
  </div>
  <div class="container">
    <section class="register">
      <h1>New User? Please Register</h1>
		  <div class="reg_section personal_info">
		  		<div location="accountId"></div>
				<div location="city"></div>
				<div location="buildingNo"></div>
				<div location="apartmentNo"></div>
		  </div>
		  <div class="submit" location="registerButton"></div>
    </section>
  </div>
