<style>

/* Page */
.v-customlayout {
  background: #FFFFFF;
  font-family:"Trebuchet MS",tahoma;
  width:550px;
  height: 900px;
}

.container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* Form */
.register {
	position: relative;
	margin-top: 20px;
	padding: 20px 20px 20px;
	background: #fff;
	/* box-shadow: 0 0 55px #777777, 0 1px 2px rgba(0, 0, 0, 0.3);*/
	width: 400px;
	border-color: black;
	border: solid 1px grey;
}

.register .reg_section{
	overflow:auto;
} 

.register h1 {
	margin: -20px -20px 0;
	padding-left:20px;
	line-height: 40px;
	font-size: 26px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	border-bottom: 1px solid #EDEDED;
	background-color: rgb(35, 35, 105);
	
}

.register input[type=text], .register input[type=password] ,.register select,.register textarea {
  width: 330px;
  height:15px;
  align:center;
  padding-top: 20px;
}
.register .submit{
	padding-top: 20px;
}

.register .reg_section .field, .register .reg_section .help {
	padding-top: 20px;
	align:center;
	float:left;
}

.register .reg_section .help {
	padding-top: 48px;
	padding-left: 10px;
}

.container p{
	padding-left: 30px;
	font-size: large;
}

.help a:hover span{
	display: block;
	position: absolute;
	top: 0px;
	left: 170px;
	width: 320px;
	margin: 0px;
	padding: 10px;
	color: #335500;
	font-weight: normal;
	background: #e5e5e5;
	text-align: left;
	border: 1px solid #666;
	}
	
.help span{
	display: none;
}

.field-help{
    float:left;
}


</style>
  <div class="container">
    <section class="register">
      <h1>Login</h1>
		  <div class="reg_section personal_info" >
				<div class="field" location="userCity"></div>
				<div class="field-help"><div class="field" location="userAccount"></div><div class="help"><a>?<span><img src="/dmg-rg-client/VAADIN/themes/dmg-theme/img/hints/accountNo.png" alt="Little Egret"></span></a></div></div>
				<div class="field" location="userPassword"></div>
		  </div>
		  <div class="submit" location="loginButton"></div>
    </section>
    <p> If you forget your password Please Call 800-000000</p>
  </div>
  <div style="height:40px"></div>
  <div class="container">
    <section class="register">
      <h1>New User? Please Register</h1>
		  <div class="reg_section personal_info">
		  		<div class="field-help"><div class="field" location="accountId"></div><div class="help"><a>?<span><img src="/dmg-rg-client/VAADIN/themes/dmg-theme/img/hints/accountNo.png" alt="Little Egret"></span></a></div></div>
		  		<div class="field-help"><div class="field" location="city"></div></div>
		  		<div class="field-help"><div class="field" location="buildingNo"></div><div class="help"><a>?<span><img src="/dmg-rg-client/VAADIN/themes/dmg-theme/img/hints/buildNo.png" alt="Little Egret"></span></a></div></div>
		  		<div class="field-help"><div class="field" location="apartmentNo"></div><div class="help"><a>?<span><img src="/dmg-rg-client/VAADIN/themes/dmg-theme/img/hints/apartmentNo.png" alt="Little Egret"></span></a></div></div>
		  </div>
		  <div class="submit" location="registerButton"></div>
    </section>
  </div>
