<style>

.options{
	width:183px;
	border-right-style: solid;
	border-right-color: #BBBBBB;
	height:100%
}

.header{
	padding-top:140px;
}

.options .opltion-list .opt-btn{
	padding-top:8px;
}

</style>
  
  <div class="options">
  	<div class="header">
  	</div>
  	<div class="opltion-list">
  		<div class="opt-btn" location="summary"></div>
  		<div class="opt-btn" location="edit_profile"></div>
  		<div class="opt-btn" location="change_password"></div>
  	</div>
  </div>
 