<style>

/* Page */
.v-customlayout {
  background: #FFFFFF;
  font-family:"Trebuchet MS",tahoma;
  width:550px;
  height: 900px;
}

.container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* Form */
.register {
	position: relative;
	margin-top: 20px;
	padding: 20px 20px 20px;
	background: #fff;
	border-radius: 32px;
	box-shadow: 0 0 55px #777777, 0 1px 2px rgba(0, 0, 0, 0.3);
	width: 500px;
}

.register h1 {
	margin: -20px -20px 0;
	line-height: 40px;
	font-size: 26px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	border-bottom: 1px solid #EDEDED;
	background-color: darkblue;
	border-radius: 32px 32px 0 0;
}


.register input[type=text], .register input[type=password] ,.register select,.register textarea {
   	width: 450px;
	height:15px;
	align:center;
	padding-top: 20px;
}

.register .submit{
	padding-top: 10px;
}

.register .reg_section .field{
	padding-top: 20px;
	align:center;
}

.register .reg_section .lable{
	float:left;

}

.register .reg_section h2{
	float:left;
	font-size:16px;
	margin:0;
	font-weight: bold;
	color: #44698b;
}

.register .reg_section .field.mobilePrefix{
	width:30px;
}

.register .mobilePrefix input[type=text]{
	width:30px;
}

.register .mobile input[type=text]{
	width:100px;
}

.register .mobilePrefix{
	float:left;
	padding-right:20px;
}

.register .mobile{
	float:left;
	padding-right:20px;
}

.register .mobile .v-required-field-indicator{
	display:none;
}

.reg_section{
	padding-top:10px;
}



</style>
  <div class="container">
    <section class="register">
      <h1>Edit User Profile</h1>
		  <div class="reg_section personal_info" >
				<h2 style="float:left">City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h2><div class="lable" location="city"></div>
				<div class="separatoe"></div>
				<h2 style="float:left">Building No:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h2><div class="lable" location="buildingNumber"></div>
				<div class="separatoe"></div>
				<h2 style="float:left">Appartment No:&nbsp;</h2><div class="lable" location="appartmentNumber"></div>
				<div class="separatoe"></div>
				<h2 style="float:left">Account Id:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h2><div class="lable" location="accountId"></div>
		  </div>
		  <div class="reg_section personal_info" >
				<div class="field" location="fullName"></div>
				<div class="field" location="userEmail"></div>
				<div class="field" location="newPassword"></div>
				<div class="field" location="confirmPassword"></div>
				<div class="field mobilePrefix" location="mobilePrefix"></div>
				<div class="field mobile" location="mobile"></div>
				<div class="separatoe"></div>
				<div class="field mobilePrefix" location="phonePrefix"></div>
				<div class="field mobile" location="phone"></div>
				<div class="separatoe"></div>
				<div class="field" location="poBox"></div>
				<div class="field" location="poBoxCity"></div>
		  </div>
		  <div class="submit" location="registerButton"></div>
    </section>
  </div>
