<style>




/*.register .mobilePrefix input[type=text]{
	width:30px;
}

.register .mobile input[type=text]{
	width:100px;
}

.register .mobilePrefix{
	float:left;
	padding-right:20px;
}

.register .mobile{
	float:left;
	padding-right:20px;
}

.register .mobile .v-required-field-indicator{
	display:none;
}

.reg_section{
	padding-top:10px;
}


.reg_section .separator{
	clear:both;
}*/


</style>
  <div class="container">
    <section class="register">
      <h1>Edit User Profile</h1>
		  <div class="reg_section personal_info" >
				<h2 style="float:left">Region:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h2><div class="lable" location="city"></div>
				<div class="separator"></div>
				<h2 style="float:left">Building No:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h2><div class="lable" location="buildingNumber"></div>
				<div class="separator"></div>
				<h2 style="float:left">Apartment No:&nbsp;</h2><div class="lable" location="appartmentNumber"></div>
				<div class="separator"></div>
				<h2 style="float:left">Contract No.:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h2><div class="lable" location="accountId"></div>
		  </div>
		  <div class="reg_section personal_info" >
				<div class="field" location="fullName"></div>
				<div class="field-note">
				  <span>please insert your name as in passport</span>
				</div>
				<div class="field" location="userEmail"></div>
				<div class="field-note">
				  <span>Example: email@domain.com</span>
				</div>
				<div class="field" location="newPassword"></div>
				<div class="field-note">
				  <span>password must be 6 character or more, please mix character & numbers</span>
				</div>
				<div class="field" location="confirmPassword"></div>
				<div class="field-note">
				  <span>Please enter the same password</span>
				</div>
				<div class="field mobilePrefix" location="mobilePrefix"></div>
				<div class="field mobile" location="mobile"></div>
				<div class="separator"></div>
				<div class="field-note">
				  <span>Example 050 1234567,  you will receive sms on this mobile number</span>
				</div>
				<div class="field mobilePrefix" location="phonePrefix"></div>
				<div class="field mobile" location="phone"></div>
				<div class="separator"></div>
				<div class="field-note">
				  <span>Example 04 1234567</span>
				</div>
				<div class="separator"></div>
				<div class="field" location="poBox"></div>
				<div class="field" location="poBoxCity"></div>
		  </div>
		  <div class="submit" location="registerButton"></div>
    </section>
  </div>
